$inputHeight:5.5vh;
$inputWidth:90%;
$ContainerHeight:100vh;
$fontA:.8em;
$fontB: 80%;
$fontC:.73em;
$fontD:70%;
$topPadd:20%;
$compstop:.08vh;

.ContainerA {
    height: 100vh;
    width: 1,440px;
    display: flex;
    padding: 5%;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: rgb(239, 241, 243);
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 85%;
    background-color: white;
    position: absolute;
   padding: auto;
    margin: auto;
    right:50%;}
.ContainerB {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    position: absolute;
    left:50%;
    padding: auto;
    margin: auto;
    height: 85%;
    background-color:rgb(122, 122, 238);
}   
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2%;
    padding: 1%;
    width: auto;
    position: absolute;
    top: 10vh;

    font-family: Roboto;
    font-weight: 800;
    font-style: ExtraBold;
    line-height: 100%;
    letter-spacing: -1px;


}
.headerimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    margin: 1%;
    padding: 2%;
    height: 10%;
    width: 100%;
    position: relative;
    top: 1.8vh;

}

.text{
    text-align: center;
    font-size: 130%;
}

.input > b {
    margin: .2%;
}

.input h4 {
    margin: 2%;
}
.ContainerB .text>h6 {
    display: flex;
    text-align: center;
    font-size: 120%;
    font-weight: 400;
    padding: 0px;
    margin:0 0 0 0;
    position: absolute;
    top: 30%;
    color: white;
    

}
h4{
    padding: 0;
    margin: 0;
    font-size: .8em;
    font-weight: bold;
}
.text > h2 {
   padding: 0px;
    margin: 0px;
    font-size: 120%;
}
.text > h6 {
   padding: 0;
    margin: 0.8em;
    font-size: 60%;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    line-height: 21px;
    letter-spacing: 0px;

}

.ContainerB #radientA {
    position: absolute;
    top: 80%;
    right: 70%;
    height: 20%;
    width: 20%;
    background-color: inherit;
    border: transparent;
    background-image: radial-gradient(
        rgb(147, 138, 241) .0003%, rgb(122, 122, 238) 70%
    );
}
.ContainerB #radientB {
    position: absolute;
    top: 70%;
    right: 10%;
    height: 30%;
    width: 30%;
    border: transparent;
    background-image: radial-gradient(
        rgb(141, 130, 243) .0003%, rgb(122, 122, 238) 70%
    );
}
 .ContainerB #radientC {
    position: absolute;
    top: 26%;
    height: 40%;
    width: 40%;
    border: transparent;
    background-image: radial-gradient(
          rgb(161, 152, 247) .0003%, rgb(122, 122, 238) 70%
    );
}
.dots{
    display: flex;
    gap: 2px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 70%;
    padding: 0;
    margin: 0;
    
}
.dot_cycle{
    width: 7%;
    height: 27%;
    margin-top: 4%;
    margin-left: 30%;
    float: right;
    border-radius: 50%;
    background-color: white;
}
.second_cycle{
    width: 7%;
    height: 27%;
    margin-top: 4%;
    float: left;
    border-radius: 50%;
    background-color:white;
}
.dot_cylinder{
    width: 20%;
    height: 30%;
    margin: 4%;
    border-radius: 43px;
    background-color: white;

}
.Pre-dots {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 30%;
}
.underline{
    width: 1px;
    height: 6px;
    background:red;
    border-radius: 9px;
}

.inputs{ 
    margin-top: .2%;
    display: flex;
    flex-direction: column;
    gap:2vh;
    height: 15vh;
    position: absolute;
    top: 20%;
    width: 110%;
    align-items: center;
}

.inputs #inputPassword{
    position: relative;
    top:$compstop;
}
.inputs #inputEmail{
    position: relative;
    top:calc(#{$compstop} + 1.4vh);
}
.input {
    height:100%;
    width: 60%;
    margin: .01vh;
    border-radius: .4em;
    gap: 9vh;
}
img{
    height: 10vh;
    width: 70%;
}

.headerimg>img{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4vh;
    width: 21%;
    position: absolute;
}
.ContainerB> img{
    height:68%;
    width: 65%;
    position: absolute;
    top:4vh;
    right: 17%;
    
}

#or {
    margin-top:2.5vh;
    font-size:fontD;
    position: relative;
    top:calc(#{$compstop} + 2vh);
}

.submit-container > p{
    font-size: 70%;
}


.submit-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:7%;
    width: 100%;
    
}

.submit, p {
     padding: 0% 0;
     margin: 0%;
    
}

.submit > #continue {
    height: $inputHeight;
    width: 60%;
    font-size: .73em;
    background-color:white;
    margin-top: 2%;
    padding-bottom: .1vh;
    position: relative;
    top:calc(#{$compstop} + 2vh);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.submit button img{
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top:.5vh;
}
#signin {
    height: $inputHeight;
    width: 60%;
    background-color: rgb(7, 7, 146);
    color: white;
    position: relative;
    border-radius: .4em;
    top:calc(#{$compstop} + 2vh);
    font-size: .73em;
}

#create{
    display: flex;
    margin-bottom:10%;
    flex-direction: column;
    align-items: center;
    border-radius: .4em;
    position: relative;
    font-size: .7em;
    top:calc(#{$compstop} + 3.4vh);
}

#create a {
    color: #0052ff;
}
.Container .inputs{ 
    margin-top: .2%;
    display: flex;
    flex-direction: column;
    gap: 6%;
    align-items: center;
}
.ContainerB .dots .text h6{
    font-size:.81em;
    margin: 0%;
    top:-4vh;
    
}

input{
    margin:  .01vh;
    padding: 0.1vh 1% .1vh 5%;
    height:$inputHeight;
    width: 90%;
    gap: .01vh;
    border-radius: .4em;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.a {
    height: auto;
    margin: 4%  1% 0% 34%;
    clear: none;
    overflow: none;
    font-size:.65em;
    position: absolute;
    padding: auto;
    right: 14%;  
    color: #222021;
}
.label {
    margin: auto;
    padding-left: 4%;
    padding-top:.001vh;
    width: 50%;
    font-size:.67em; 
    position: absolute;
    left: 1vw;
}

.radio{
    margin: auto;
    width: 80%;
    height: 20%;
    padding-bottom: 7%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top:calc(#{$compstop} + 1vh);
} 
.radio .radiob {
  display: none;
}


label {
  display: inline-block;
  padding: 5px 0px;
  cursor: pointer;
  font-weight: lighter;
}
label span {
  position: relative;
  line-height: 22px;
  margin-left: 0;
}

label span:before,
label span:after {
  content: '';
}

label span:before {
  width: 5%;
  height: 2vh;
  margin-right:7px;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
  padding:0;
  position: absolute;
  margin:auto;
  top:1vh;
  left:4vw;
  background-color: rgb(226, 228, 230);
}

label span:after {
  background: #222021;
  width: 14px;
  height: 14px;
  margin-right:7px;
  margin-left: 0;
  position: absolute;
  top:.3vh;
  left:4vw;
  transition: 300ms;
  opacity: 0;
}

label input:checked+span:after {
  opacity: 1;
}

body {
  background: #fbfbfb;
  font-family: Arial;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 1000px) {
.ContainerB img {
    height: 0;
    width: 0;
}

.ContainerB .dots .text h6{
    font-size:0%;
    margin: 0%;
    top: 0%;
    
}

.ContainerB {
    width: 0vw;
    height: 0vh;
}
.Container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 85vh;;
    background: white;
    position: absolute;
    right: 10%;
    top: 10%;
}
.ContainerA {
    height: 100vh;
    display: flex;
    padding: 5%;
    position: relative;
    top: 2.5%;
    flex-direction: column;
    align-content: center;
    background-color: rgb(239, 241, 243);
}


label span:before {
  width: 6%;
  height: 33%;
  margin-right:7px;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
  padding:0;
  position: absolute;
  top:1vh;
  left:9vw;
  background-color: rgb(226, 228, 230);
}

label span:after {
  width: 6%;
  height: 33%;
  margin-right:7px;
  position: absolute;
  top:1vh;
  left:9vw;
  transition: 300ms;
  opacity: 0; }
#create{
    top:calc(#{$compstop} + 7);
}}

@media only screen and (max-height: 400px) 
{
.inputs{ 
    margin-top: .2%;
    display: flex;
    flex-direction: column;
    gap:1vh;
    height: 15vh;
    position: absolute;
    top: 14%;
    width: 110%;
    align-items: center;
}

.submit > #continue {
    height: $inputHeight;
    width: 60%;
    font-size: .73em;
    background-color:white;
    margin-top: 2%;
    padding-bottom: .1vh;
    position: relative;
    top:calc(#{$compstop} + -2vh);
    border: 1px solid rgba(0, 0, 0, 0.15);
}


#create{
    top:calc(#{$compstop} + -7vh);
}
}
